.goodsBody {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.topNav {
    display: flex;
    flex-direction: row;
    background-color: #00d6b2;
    width: 100%;
    height: 10%;
}

.topNavItem {
    margin-top: 1rem;
    margin-left: 1rem;
}

.btns1 {
    margin-top: 1rem;
    align-self: flex-end;
}