*{
    padding: 0;
    margin:0;
    list-style: none;
    font-size: 15px;

}
body{
    background-color: #404040;
}
h1{
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
    color: #fff;
}
.Antd{
    text-align: center;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}